<% layout("./layouts/boilerplate") %>

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
    <div class="card shadow p-4" style="width: 22rem; border-radius: 12px;">
        <h4 class="text-center mb-4">Welcome</h4>

        <div class="d-grid gap-3">
            <a href="/api/v1/auth/signup" class="btn btn-primary">Sign Up</a>
            <a href="/api/v1/auth/login" class="btn btn-success">Login</a>
        </div>
    </div>
</div>